aiofiles
aiohttp
apscheduler
beautifulsoup4
bing_image_downloader
bleach
cachetools
countryinfo
currencyconverter
dateparser
emoji
emoji-country-flag
feedparser
future
geopy
gpytranslate
humanize
loguru
orjson
python-dotenv
telethon==1.28.5
tgcrypto
wikipedia
cloudscraper
ffmpeg-python
gitpython
gtts
python-telegram-bot==13.15
redis==4.5.5
python-arq==6.0.5
pytz
