aiofiles
aiohttp
apscheduler
beautifulsoup4
bing_image_downloader
bleach
cachetools
countryinfo
currencyconverter
dateparser
emoji
emoji-country-flag
feedparser
future
geopy
gpytranslate
humanize
loguru
orjson
python-dotenv
telethon==1.28.5
tgcrypto
wikipedia
cloudscraper
ffmpeg-python
redis==4.5.5
gitpython
gtts
pytz
